.advantages {
    background-color: #e3ecf6;
    background-image: url("../img/bg-mobile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: $vp-768) {
        background-image: url("../img/bg-tablet.png");
    }

    @media (min-width: $vp-1366) {
        background-image: url("../img/bg-desktop.png");
    }
}

.advantages__wrapper {
    padding: 65px 15px;

    @media (min-width: $vp-768) {
        padding: 100px 45px;
    }

    @media (min-width: $vp-1366) {
        width: 1160px;
        margin: 0 auto;
        padding: 120px 0;
    }
}

.advantages__title {
    margin: 0;
    margin-bottom: 40px;

    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;

    @media (min-width: $vp-768) {
        margin-bottom: 60px;
        font-size: 26px;
    }

    @media (min-width: $vp-1366) {
        font-size: 28px;
    }
}

.advantages__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    @media (min-width: $vp-768) {
        display: grid;
        grid-template-columns: repeat(3, minmax(206px, 1fr));
        column-gap: 30px;
    }

    @media (min-width: $vp-1366) {
        grid-template-columns: repeat(3, 360px);
        column-gap: 40px;
    }
}

.advantages__item {
    padding: 25px 20px;
    background-color: $color-text-white;

    display: grid;
    grid-template-rows: 26px 25px auto 20px auto;

    @media (min-width: $vp-768) {
    
    }

    @media (min-width: $vp-1366) {
        padding: 30px 30px 50px;
    }
}

.advantages__item:not(:last-child) {
    @media (max-width: 767px) {
        margin-bottom: 30px;
    }
}

.advantages__svg {
    // margin-bottom: 25px;

    @media (max-width: 1365px) {
        &--ship {
            width: 21px;
            height: 26px; 
        }

        &--all-include {
            width: 33px;
            height: 19px;
        }

        &--tour {
            width: 38px;
            height: 13px;
        }
    }
}

.advantages__subtitle {
    margin: 0;
    // margin-bottom: 20px;

    font-weight: 500;
    font-size: 18px;
    line-height: 140%;

    grid-row: 3/4;

    @media (max-width: 767px) {
        padding-right: 80px;
    }
}

.advantages__description {
    margin: 0;

    grid-row: 5/6;

    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}
