.advantages {
    background-color: #e3ecf6;
    background-image: url("../img/bg-desktop.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: $vp-1366) {
        @media (min-resolution: 2dppx) {
            background-image: url("../img/bg-desktop@2x.png");
        }
    }

    @media (max-width: 1365px) {
        background-image: url("../img/bg-tablet.png");

        @media (min-resolution: 2dppx) {
            background-image: url("../img/bg-tablet@2x.png");
        }
    }

    @media (max-width: 767px) {
        background-image: url("../img/bg-mobile.png");

        @media (min-resolution: 2dppx) {
            background-image: url("../img/bg-mobile@2x.png");
        }
    }
}

.advantages__wrapper {
    width: 1160px;
    margin: 0 auto;
    padding: 120px 0;

    @media (max-width: 1365px) {
        width: 100%;
        padding: 100px 45px;
    }

    @media (max-width: 767px) {
        padding: 65px 15px;
    }
}

///

.advantages__wrapper h2 {
    margin: 0;
    margin-bottom: 60px;

    font-size: 28px;
    font-weight: 600;
    line-height: 150%;
    text-align: center;

    @media (max-width: 1365px) {
        margin-bottom: 60px;
        font-size: 26px;
    }

    @media (max-width: 767px) {
        margin-bottom: 40px;
        font-size: 24px;
    }
}

.advantages__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: grid;
    grid-template-columns: repeat(3, 360px);
    column-gap: 40px;

    @media (max-width: 1365px) {
        grid-template-columns: repeat(3, minmax(206px, 1fr));
        column-gap: 30px;
    }

    @media (max-width: 767px) {
        display: block;
    }
}

.advantages__item {
    padding: 30px 30px 50px;
    background-color: $color-text-white;

    display: grid;
    grid-template-rows: 26px 25px auto 20px auto;

    @media (max-width: 767px) {
        padding: 25px 20px;
    }
}

.advantages__item:not(:last-child) {
    @media (max-width: 767px) {
        margin-bottom: 30px;
    }
}

.advantages__svg {

    @media (max-width: 1365px) {
        &--ship {
            width: 21px;
            height: 26px; 
        }

        &--all-include {
            width: 33px;
            height: 19px;
        }

        &--tour {
            width: 38px;
            height: 13px;
        }
    }
}

.advantages__item h3 {
    margin: 0;

    font-weight: 500;
    font-size: 18px;
    line-height: 140%;

    grid-row: 3/4;

    @media (max-width: 767px) {
        padding-right: 80px;
    }
}

.advantages__item p {
    margin: 0;

    grid-row: 5/6;

    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}
