.advantages {
    background-color: #e3ecf6;
    background-image: url("../img/bg-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 1024px) {
        @media (min-resolution: 2dppx) {
            background-image: url("../img/bg-desktop@2x.jpg");
        }
    }

    @media (max-width: 1023px) {
        background-image: url("../img/bg-tablet.jpg");

        @media (min-resolution: 2dppx) {
            background-image: url("../img/bg-tablet@2x.jpg");
        }
    }

    @media (max-width: 767px) {
        background-image: url("../img/bg-mobile.jpg");

        @media (min-resolution: 2dppx) {
            background-image: url("../img/bg-mobile@2x.jpg");
        }
    }
}

.advantages__wrapper {
    width: 1160px;
    margin: 0 auto;
    padding: 110px 0 120px;

    @media (max-width: 1365px) {
        width: 84.91%;
    }

    @media (max-width: 1023px) {
        width: 100%;
        padding: 89px 45px 100px;
    }

    @media (max-width: 767px) {
        padding: 57px 15px 65px;
    }
}

.advantages__wrapper h2 {
    margin: 0;
    margin-bottom: 49px;

    font-size: 28px;
    font-weight: 600;
    line-height: 150%;
    text-align: center;

    @media (max-width: 1023px) {
        margin-bottom: 50px;
        font-size: 26px;
    }

    @media (max-width: 767px) {
        margin-bottom: 30px;
        font-size: 24px;
    }
}

.advantages__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: grid;
    grid-template-columns: repeat(3, 360px);
    column-gap: 40px;
    row-gap: 40px;

    @media (max-width: 1365px) {
        grid-template-columns: repeat(3, minmax(206px, 1fr));
    }

    @media (max-width: 1023px) {
        column-gap: 30px;
        row-gap: 30px;
    }

    @media (max-width: 767px) {
        display: block;
    }
}

.advantages__item {
    padding: 30px 30px 27px;
    background-color: $color-text-white;

    display: flex;
    flex-direction: column;

    @media (max-width: 1023px) {
        padding: 26px 18px 22px; 
    }

    @media (max-width: 767px) {
        padding: 25px 20px 21px;
    }
}

.advantages__item:not(:last-child) {
    @media (max-width: 767px) {
        margin-bottom: 30px;
    }
}

.advantages__container {
    margin-bottom: 19px;
    height: 32px;

    display: flex;
    align-items: center;

    @media (max-width: 1023px) {
        height: 26px; 
    }
}

.advantages__svg {
    @media (max-width: 1023px) {
        &--ship {
            width: 21px;
            height: 26px; 
        }

        &--all-include {
            width: 33px;
            height: 19px;
        }

        &--tour {
            width: 38px;
            height: 13px;
        }
    }
}

.advantages__item h3 {
    margin: 0;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 18px;
    line-height: 140%;

    grid-row: 3/4;

    @media (max-width: 767px) {
        padding-right: 80px;
    }
}

.advantages__item p {
    margin: 0;

    grid-row: 5/6;

    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}
