.booking {
    background-color: #b0d8fa;
    background-image: url("../img/booking-bg-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: $vp-1366) {
        @media (min-resolution: 2dppx) {
            background-image: url("../img/booking-bg-desktop@2x.jpg");
        }
    }

    @media (max-width: 1365px) {
        background-image: url("../img/booking-bg-tablet.jpg");

        @media (min-resolution: 2dppx) {
            background-image: url("../img/booking-bg-tablet@2x.jpg");
        }
    }

    @media (max-width: 767px) {
        background-image: url("../img/booking-bg-mobile.jpg");

        @media (min-resolution: 2dppx) {
            background-image: url("../img/booking-bg-mobile@2x.jpg");
        }
    }
}

.booking__wrapper  {
    width: 1160px;
    margin: 0 auto;
    padding: 50px 0;

    display: grid;
    grid-template-columns: 560px 1fr;
    column-gap: 137px;

    @media (max-width: 1365px) {
        width: 100%;
        display: block;
        padding: 100px 45px;
    }

    @media (max-width: 767px) {
        padding: 71px 15px 65px;
    }
}

.booking__container {
    margin-top: -12px;
    grid-row: 1/3;
    align-self: center;
}

.booking__container h2 {
    margin: 0;
    margin-bottom: 14px;

    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    text-align: center;

    @media (min-width: $vp-768) {
        margin-bottom: 4px;
        font-size: 34px;
        line-height: 150%;
    }

    @media (min-width: $vp-1366) {
        margin-bottom: 9px;
        padding-left: 60px;

        font-size: 40px;
        text-align: left;
    }
}

.booking__container p {
    margin: 0;
    padding:0 110px 0 60px;

    text-align: left;
    font-weight: 400;
    font-size: 18px;

    @media (max-width: 1365px) {
        margin-bottom: 53px;
        padding: 0 148px;

        line-height: 150%;
        text-align: center;
    }

    @media (max-width: 767px) {
        padding: 0;
        margin-bottom: 33px;

        font-size: 16px;
        line-height: 140%;
    }
}

.booking__container p br {
    @media (min-width: $vp-768) {
        display: none;
    }
}

.booking__form {
    margin: 0;
    padding: 43px 50px 50px;

    width: 403px;

    grid-column: 2/3;
    grid-row: 1/3;

    background-color: $color-text-blue;
    color: $color-text-white;

    @media (max-width: 1365px) {
        margin: 0 auto;
    }

    @media (max-width: 767px) {
        padding: 34px 30px 40px;
        width: 290px;
    }
}

.booking__form p {
    margin: 0;
    margin-bottom: 28px;

    font-weight: 500;
    font-size: 18px;
    text-align: left;
    line-height: 150%;

    @media (max-width: 767px) {
        line-height: 140%;
        text-align: center;
    }
}

.booking__form p br {
    @media (min-width: $vp-768) {
        display: none;
    }
}

.booking__group {
    margin: 0;
    padding: 0;

    border: none;
}

.booking__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.booking__item {
    margin-bottom: 20px;
}

.booking__item input {
    width: 100%;
    padding: 9px 16px;
    border: none;
    border: 2px solid $color-text-white;
    box-sizing: border-box;

    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: $color-text-blue;

    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }

    &::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: rgba(1, 28, 64, 0.7);
    }
}

.booking__item input:focus:invalid {
    border: 2px solid #ff0000;
    outline: none;
}

.booking__control  {
    margin-bottom: 33px;

    &:hover {
        opacity: 0.5;
    }

    @media (max-width: 767px) {
        margin-bottom: 27px;
    }
}

.booking__button {
    padding: 11px 0;
    width: 100%;

    display: flex;
    justify-content: center;

    border: none;

    font-weight: 600;
    font-size: 14px;
    line-height: 150%;

    cursor: pointer;
    user-select: none;    
    
    &:hover {
        opacity: 0.5;
    }
}
