.catalog {
    width: 1160px;
    margin: 0 auto;
    padding: 120px 0;

    @media (max-width: 1365px) {
        width: 100%;
        padding: 100px 60px;
    }

    @media (max-width: 767px) {
        padding: 65px 25px;
    }
}

.catalog h2 {
    margin: 0;
    margin-bottom: 60px;

    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
    text-align: center;

    @media (max-width: 1365px) {
        font-size: 26px;
    }

    @media (max-width: 767px) {
        margin-bottom: 40px;
        font-size: 24px;
    }
}

.catalog__list {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    width: 1130px;

    display: grid;
    grid-template-columns: repeat(4, 260px);
    column-gap: 30px;
    row-gap: 30px;

    @media (max-width: 1365px) {
        width: 648px;
        grid-template-columns: 309px 309px;
    }

    @media (max-width: 767px) {
        margin: 0;
        display: block;
        width: auto;
    }
}

.catalog__item {
    position: relative;

    width: 260px;
    margin: 0;

    @media (max-width: 1365px) {
        width: 309px;
    }

    @media (max-width: 767px) {
        width: 270px;
        margin: 0 auto;
    }
}

.catalog__item:not(:last-child) {
    @media (max-width: 767px) {
        margin-bottom: 30px;
    }
}

.catalog__item img {
    background-color: #00306b;

    @media (max-width: 1365px) {
        width: 309px;
    }

    @media (max-width: 767px) {
        width: 270px;
    }
}

.catalog__item h3 {
    position: absolute;
    left: 25px;
    bottom: 25px;
    z-index: 2;

    margin: 0;

    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: $color-text-white;
}

.catalog__wrapper {
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    background-color: $color-text-blue;
    box-shadow: 0px 4px 35px rgba(1, 28, 64, 0.15);

    color: $color-text-white;
}

.catalog__item:hover .catalog__wrapper {
    display: block;
}

.catalog__item:hover h3 {
    top: 30px;
    left: 25px;

    @media (max-width: 1365px) {
        left: 35px;
    }

    @media (max-width: 767px) {
        left: 25px;
    }
}

.catalog__info-list {
    margin: 0;
    padding: 60px 25px 0;
    list-style-type: none;

    @media (max-width: 1365px) {
        padding: 70px 35px 0;
    }

    @media (max-width: 767px) {
        padding: 60px 25px 0;
    }
}

.catalog__info-item {
    margin-bottom: 15px;
}

.catalog__info-item  h4{
    margin: 0;
    margin-bottom: 5px;

    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
}

.catalog__info-item p {
    margin: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}

.catalog__wrapper a {
    margin: 0 25px;
    width: 210px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $color-text-white;
    color: $color-text-blue;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;

    @media (max-width: 1365px) {
        margin: 0 35px;
        width: 239px;
    }

    @media (max-width: 767px) {
        margin: 0 25px;
        width: 220px;
    }
}
