.main-nav {
    color: $color-text-white;

    @media (max-width: 767px) {
        display: none;

        &--nojs {
            position: static;
            display: block;
            margin-bottom: 69px;
        }

        &--open {
            display: block;
        }
    }
}

.main-nav__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    list-style-type: none;

    @media (max-width: 1365px) {
        margin: 0;
    }

    @media (max-width: 767px) {
        display: block;
    }
}

.main-nav__item {
    margin-left: 33px;

    @media (max-width: 1365px) {
        margin-left: 23px;
    }

    @media (max-width: 767px) {
        margin-left: 0;
    }
}

.main-nav__item a {
    padding: 46px 0;

    display: block;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: $color-text-white;
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }

    @media (max-width: 1365px) {
        padding: 31px 0 38px;

        font-size: 14px;
        line-height: 17px;
    }

    @media (max-width: 767px) {
        padding: 0;
        font-size: 18px;
        line-height: 22px;
        color: $color-text-blue;
    }
}

.main-nav--open .main-nav__list {
    @media (max-width: 767px) {
        padding-left: 10px;
        padding-bottom: 220px;
    }
}

.main-nav--nojs .main-nav__list {
    padding-bottom: 28px;
}

.main-nav--open a,
.main-nav--nojs a {
    @media (max-width: 767px) {
        display: block;
        padding-top: 26px;
    }
}
