.page-footer {
    background-color: $color-text-blue;

    margin-top: auto;
}

.page-footer__wrapper {
    width: 1160px;
    margin: 0 auto;
    padding: 41px 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    color: $color-text-white;
    align-items: center;

    @media (max-width: 1365px) {
        width: 84.91%;
    }

    @media (max-width: 1023px) {
        width: 100%;
        padding: 33px 45px;
    }

    @media (max-width: 767px) {
        padding: 40px 15px 23px;
        flex-direction: column;
        align-items: flex-start;
    }
}

.page-footer__logo {
    margin-right: 40px;
    padding-top: 9px;
    display: flex;
    align-items: center;
    align-self: flex-start;

    @media (max-width: 1023px) {
        margin-right: 25px;
        padding-top: 17px;
    }

    @media (max-width: 767px) {
        margin-right: 0;
        padding-top: 0;
        display: block;
    }
}

.page-footer__logo svg{
    @media (max-width: 767px) {
        width: 42px;
        height: 22px;
    }

    @media (max-width: 1023px) {
        width: 38px;
        height: 20px;
    }
}

.page-footer__social {
    align-self: flex-start;
    // min-width: 125px;
    // max-width: 160px;

    @media (max-width: 1023px) {
        // min-width: 110px;
        // max-width: 120px;
    }

    @media (min-width: $vp-768) {
        margin-left: auto;
        margin-top: 9px;
        margin-right: -7px;
    }

    @media (max-width: 767px) {
        margin-left: -10px;
    }
}
