.social {
    margin: 0;
    padding: 0;
    list-style-type: none;

    // display: flex;
    // flex-wrap: wrap;
    // align-items: flex-end;
    display: grid;
    grid-template-columns: repeat(3, 40px);
    align-items: center;
    justify-content: end;

    @media (max-width: 1023px) {
        grid-template-columns: repeat(3, 35px);
    }
}

.social__item {
    display: flex;
    align-items: flex-end;
}

.social__item:not(:last-child) {
    // margin-right: 3px;

    @media (min-width: 1024px) {
        // margin-right: 7px;
    }
}

.social__item a {
    display: block;
    padding: 10px 8px;

    &:hover {
        opacity: 0.5;
    }
}

.social__fb {
    @media (max-width: 1023px) {
        width: 9px;
        height: 16px;
    }
}

.social__instagram {
    @media (max-width: 1023px) {
        width: 16px;
        height: 16px;
    }
}

.social__twitter {
    @media (max-width: 1023px) {
        width: 16px;
        height: 13px;
    }
}
